
p {
  width: 100%;
  text-align: center;
  font-size: 14px;
}

img {
  width: 90%;
  margin: 5px;
  border: 2px solid #ccc;
}

.jumbotron {
  background-color: #337ab7;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.giphyButton {
  margin-right: 15px;
  font-size: 24px;
}

#buttonRow {
  line-height: 80px;
  margin: 0;
}

.panel-heading {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

#giphyColumn>div {
  width: 50%;
  display: inline-block;
}