span {
  width: 100%;
  height: auto;
}

img {
  width: 98%;
  max-height: 500px;
  margin: 5px;
  border: 2px solid #ccc;
}

.jumbotron {
  background-color: #337ab7;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.giphyButton {
  margin-right: 15px;
  font-size: 24px;
}

#buttonRow {
  line-height: 80px;
  margin: 0;
}

.panel-heading {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (min-width : 320px) {
  span {
    width: 100%;
  }
  image {
    width: 98%;
  }
}

@media only screen and (min-width : 768px) {
 span {
  width: 50%;
 }
 img {
  width: 48%;
 }
}

@media only screen and (min-width : 992px) {
  span {
  width: 50%;
 }
  img {
    width: 48%;
  }

@media only screen and (min-width : 1200px) {
  span {
  width: 50%;
 }
  img {
    width: 48%;
  }